.gr-workspace
**.mrpack

# Leaks local world names: (which isn't really a „leak” as in a „security issue”, but this has caused Windows incompatibilities (lol) in the past)
modpack/overrides/config/inventoryprofilesnext

# Leaks usernames/IDs:
modpack/overrides/config/sounds/chat.json
modpack/overrides/config/skinrestorer/mojang_profile_cache.json
modpack/overrides/config/sodium-fingerprint.json
modpack/overrides/config/jade/usernamecache.json
modpack/overrides/config/roughlyenoughitems/hints.json
modpack/overrides/config/voicechat/username-cache.json

# Temproary files
modpack/overrides/config/spark/tmp

# Copyright violations lol
modpack/overrides/config/analog/records

# Distant Horizons interprets values differently on different devices - better to remove its configs and have everything set to default
modpack/overrides/config/DistantHorizons.toml