format-version 3

default-modpack "GhostRun"

modpacks {
    modpack "GhostLand7" path="./modpack" preferred-name="GhostLand 7" {
        version-prefix "7."
        description "Paczka na siódmą edycję GhostLanda"
        ingame-name "GhostLand 7.0.10"
        /-files {
            allow "config/*" "mods/*" "shaderpacks/*"
            expect "config/" "mods/" "shaderpacks/" "datapacks/" "resourcepacks/" "defaultconfigs/" "moddata/" "options.txt"
            disallowed ".fabric" "crash-reports" "CustomSkinLoader" "data" "fancymenu_data" "frozenlib_cape_cache" "ldlib" "logs" "ModTranslations" "saves" "schematics" "stackdeobf_mappings" "xaero" "irisUpdateInfo.json" 
        }
    }
    modpack "GhostRun" path="./grun" preferred-name="GhostRun" {
        version-prefix "0."
        description "GhostRun: Paczka serwerowa GhostLanda, na czas między-edycjowy. Edycja zimowa 2025/26."
        ingame-name "GhostRun 2025 [PACZKA SERWEROWA! Prawdopodobnie to nie jej chcesz używać u siebie na kliencie.]"
    }
}