format-version 2

default-modpack "GhostLand7"

modpacks {
    modpack "GhostLand7" path="./modpack" preferred-name="GhostLand 7" {
        version-prefix "7a"
        description "Paczka na siódmą edycję GhostLanda - wersja alpha"
        ingame-name "GhostLand 7 Alpha"
        /-files {
            allow "config/*" "mods/*" "shaderpacks/*"
            expect "config/" "mods/" "shaderpacks/" "datapacks/" "resourcepacks/" "defaultconfigs/" "moddata/" "options.txt"
            disallowed ".fabric" "crash-reports" "CustomSkinLoader" "data" "fancymenu_data" "frozenlib_cape_cache" "ldlib" "logs" "ModTranslations" "saves" "schematics" "stackdeobf_mappings" "xaero" "irisUpdateInfo.json" 
        }
    }
}