dry_land = true
no_drops = true
shields = true
warden = true
caves_not_ultrawarm = true
dragon_fire = true
bundled_rewards = true
prevent_roof_battles = true
prevent_incompatible_modifiers = true
explosion_resistance = true
wither_skeleton_egg = true
rabbits_spawn_rabbits = true
give_new_enchants = true
correct_spawn_rates = true
armor = false
battles = false
